@media (max-width: 575px) {
    .main-header img {
      width: 20%; 
    } 
  }
  
  a.navbar-brand img {
    border: 4px solid #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(152, 53, 165, 0.3);
    top: 0.5rem;
    &:hover{
      box-shadow: 0 1px 4px rgba(152, 53, 165, 0.9);
    }
  }
  @media (max-width: 575.5px) {
    a.navbar-brand img {
      width: 80px; 
    } 
  }
  .icon::before {
    font-size: 20px;
    
  }