.collection-item {
  overflow: hidden;
  .overlay{
    overflow: hidden;
  }
  &:hover {
    cursor: pointer;
    & .content {
      opacity: 0.9;
      border: 2px solid #4a4a4a;
    }
  }
  .content {
    height: 90px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    background-color: white;
    opacity: 0.1;
    position: absolute;
    bottom: 40px;
    .title {
      font-weight: bold;
      margin-bottom: 6px;
      font-size: 22px;
      color: #4a4a4a;
    }

    .subtitle {
      font-weight: lighter;
      font-size: 16px;
    }
  }
}
