@charset "UTF-8";
body {
  direction: rtl;
  font-family: "Cairo Regular", sans-serif;
  text-align: right;
}
@font-face {
  font-family: 'luckiest-font';
  src: url('./assets/fonts/LuckiestGuy-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
.luckiest-font{
  font-family: 'luckiest-font';
}
@font-face {
  font-family: 'icomoon';
  src:  url('./assets/fonts/icons/icomoon.eot?f7ab6a');
  src:  url('./assets/fonts/icons/icomoon.eot?f7ab6a#iefix') format('embedded-opentype'),
    url('./assets/fonts/icons/icomoon.ttf?f7ab6a') format('truetype'),
    url('./assets/fonts/icons/icomoon.woff?f7ab6a') format('woff'),
    url('./assets/fonts/icons/icomoon.svg?f7ab6a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_forward_ios:before {
  content: "\e900";
}
.icon-arrow_back_ios:before {
  content: "\e901";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-phone:before {
  content: "\e942";
}
.icon-location:before {
  content: "\e947";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-cancel-circle:before {
  content: "\ea0d";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-enter:before {
  content: "\ea13";
}
.icon-exit:before {
  content: "\ea14";
}
.icon-share2:before {
  content: "\ea82";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}
.cursor-pointer{
  cursor: pointer;
}